@import 'Assets/css/border.scss';
@import 'Assets/css/theme.scss';

#cinemas {
    background: white;
    overflow: scroll;
    // 定位
    div.position {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .15rem;
        border-bottom: 1px solid #ccc;
        p {
            display: flex;
            justify-self: flex-start;
            flex-direction: column;
            width: 3rem;
            span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                &:nth-child(1) {
                    font-size: .17rem;
                    line-height: .24rem;
                    font-weight: bold;
                    color: #333;
                }
                &:nth-child(2) {
                    margin-top: .02rem;
                    font-size: .13rem;
                    line-height: .185rem;
                    color: #999;
                }
            }
        }
        i {
            color: rgb(83, 167, 255);
            font-size: .3rem;
        }
    }

    // 电影列表
    div.movies {
        // 滑块部分
        div.swiper {
            height: 1.4rem;
            display: flex;
            align-items: center;            
            overflow: hidden;
            position: relative;
            div.bg {
                background-size: 100%;
                filter: blur(30px);
                background-position-y: 40%;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                border: .06rem solid black;
                border-color: white transparent transparent transparent;
                z-index: 99;
                display: inline-block;
            }
            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        // width: .9rem!important;
                        position: relative;
                        img {
                            height: 1.09rem;
                            width: .74rem;
                            border: .04rem solid white;
                            transform: translateX(.2rem);
                        }
                    }
                }
            }
        }

        // 信息部分
        div.info {
            height: .665rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: white;
            border-bottom: 1px solid #ccc;
            p {
                &:nth-child(1) {
                    span {
                        &:nth-child(1) {
                            line-height: .24rem;
                            font-size: .17rem;
                            color: #333;
                            font-weight: bold;
                            margin-right: .04rem;
                        }
                        &:nth-child(2) {
                            color: #ffb400;
                            font-size: .16rem;
                        }
                        &:nth-child(3) {
                            font-size: .1rem;
                            color: #ffb400;
                        }
                    }
                }
                &:nth-child(2) {
                    margin-top: .02rem;
                    height: .185rem;
                    line-height: .185rem;
                    font-size: .13rem;
                    color: #999;
                }
            }
        }
    }

    // 选择日期
    ul.show-date {
        height: .45rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding-left: .2rem;
        li {
            display: inline-block;
            line-height: .45rem;
            height: .45rem;
            margin-right: .3rem;
            text-align: center;
            font-size: .14rem;
            color: #666;
            border-bottom: .03rem solid transparent;
            transition: .2s;
            &.active {
                border-color: $ThemeRed;
                color: $ThemeRed;
            }
        }
    }

    // 折扣卡
    div.discount-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: .416rem;
        background-color: #fff5ea;
        margin-top: -.01rem;
        box-sizing: border-box;
        padding: 0 .15rem;
        p {
            &:first-child {
                span {
                    &:first-child {
                        background-color: #ff941a;
                        border-radius: .02rem;
                        font-size: .1rem;
                        color: white;
                        margin-right: .1rem;
                        padding: .04rem;
                    }
                    &:last-child {
                        color: #fa9600;
                        font-size: .15rem;
                    }
                }
            }
            &:last-child {
                line-height: .42rem;
                color: #999;
                font-size: .14rem;
                i {
                    font-size: .14rem;
                }
            }
        }
    }

    // 票列表
    ul.ticket-list {
        li {
            height: 1.014rem;
            box-sizing: border-box;
            padding: .17rem .125rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            border-bottom: 1px solid #ccc;
            div.time {
                font-size: .20rem;
                color: #333;
                line-height: 1;
                white-space: nowrap;
                transform: translateY(-.1rem);
            }
            div.info {
                width: .962rem;
                padding-left: .17rem;
                spapn.lang {
                    margin-top: .02rem;
                    line-height: .18rem;
                    font-size: .13rem;
                    color: #333;
                    white-space: normal;
                }
                p.room {
                    margin-top: .07rem;
                    font-size: .11rem;
                    color: #999;
                    white-space: normal;
                }
            }
            div.price {
                transform: translateY(-.2rem);
                span {
                    &:first-child {
                        color: #f03d37;
                        font-size: .14rem;
                    }
                    &.origin {
                        color: #f03d37;
                        font-size: .19rem;
                    }
                    &.card {
                        margin-left: .04rem;
                        color: #fff;
                        background-color: #f90;
                        font-size: .12rem;
                        padding: 0 .02rem;
                        border: .01rem solid #f90;
                    }
                    &.now {
                        color: #fff;
                        border: 1px solid #f90;
                        display: inline-block;
                        font-size: .12rem;
                        padding: 0 .02rem;
                        color: #f90;
                    }
                }
            }
            button {
                position: absolute;
                right: .2rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}